{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">  

        <title>Choose Movement Over Pain</title>
    
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
        
    </head>

    <body id="home">
        <section id="masthead">
            <h1>
                <a href="{% url 'index' %}">Movement Over Pain</a>
            </h1>
        </section>

        <div id="content">
            <section id="intro">
                <h2>
                    Are you are deailing with some kind of difficult painful problem? 
                </h2><p>        
                    If so, I am wondering if you have been told you need to exercise, but are either afraid to start or tried and stopped because it made you hurt more?
                </p><p>
                    Or have you found some exercise that doesn't make you hurt more, made a little progress, but have now plateaued. 
                </p><p>
                    I am a physical therapist and I see quite a few people in the same predicament as you are but a big problem we run into is that while it is very possible to improve fitness without flaring-up pain, but change happens very gradually. As a result insurance tends to not cover treatment for long enough with the assumption that continuing with the home program is good enough.
                </p><p>
                    I think that in these difficult cases, a little more guidance over a longer people of time would result in a better outcome. However most of us can't afford to pay for professional one-on-one guidance over a long period of time. 
                </p><h3>
                    If you have a minute or two, let me know if you're having a difficult time exercising without hurting more, if you feel like you aren't making progress in your fitness and if you feel like you could use more guidance over a longer time, but have a hard time affording one-on-one professional guidance. 
                </h3><p>
                    I ask because I'm thinking of doing something using technolgy to help deliver this type of approach that will strike the balance between being affordable while still providing enough guidance to make continual progress over a long time. 
                </p><p>



            </section>
            
            <section id="email-list">
                <h2>Choose Movement Over Pain</h2>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>

                <div id="mc_embed_signup">
                    <form action="https://move5430.us15.list-manage.com/subscribe/post?u=220331ac1f8a2b3a3d01e34c3&amp;id=f240292a0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Your Email (kept private! never shared.)</label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_220331ac1f8a2b3a3d01e34c3_f240292a0a" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Join!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </section>
            <section id="intro">
                <p>
                    &copy; Cody Weisbach, PT, DPT, OCS, FAAOMPT 
                </p>
            </section>
            
        </div>
    </body>
</html>
